mixin post(post)
    div.postBox_each
        div.postHeader
            div.postHeader_profile
                if post.owner.avartarUrl
                    img(src=post.owner.avartarUrl)
                else
                    i.fa.fa-user-circle-o
                span=post.owner.id
            div 
                i.fa.fa-bars
        img.postImg(src=post.fileUrl)
        div.postBottom#postBottom
            div.postBottom_icons
                div.postBottom_icons_one
                    span
                        i.fa.fa-heart-o(data-id=post._id, data-num=post.uploadLike.length)
                        div.postBottom_texts_like
                            p.likeP 좋아요
                            p.likeP#likeNumber(style="font-weight:800")=post.uploadLike.length
                            p.likeP 개
                    span.comment
                        div
                            i.fa.fa-comment-o
                            form.postBottom_comments(data-id=post._id)
                                input(type="text" name="comment" placeholder="댓글...")
                                button 확인
                    if String(post.owner._id) === String(loggedInUser._id)
                        div
                            i.fa.fa-trash#trashIcon
                            div.deleteText#deleteText
                                p 정말 삭제하시겠습니까?
                                p(style="cursor:pointer").deleteYes(data-id=post._id) 예
                                p(style="cursor:pointer").deleteNo 아니오 
                span.follow
                    i.fa.fa-bookmark-o(data-id=post._id)
            div.postBottom_texts
                div.postBottom_texts_text
                    span=post.owner.id
                    span=post.text
                div.postBottom_texts_ect
                    span=post.hashtags
                    span 모두 보기
                    span=post.createdAt

    